
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap');
*{
    font-family: 'Roboto', 'sams-serif';
    font-weight: 300;
}
body{
    background-color: rgb(230, 217, 226);
}
h1{
    text-align: center;
    text-decoration: underline;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    text-decoration: overline;
    font-weight: bolder;
}
.principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}
.tarjeta{
    width: 250px;
    border: 5px solid black;
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
}
img {
    width: 100%;
}
.boton-tarjeta {
    text-decoration: none;
    padding: 10px 20px;
    background-color: brown;
    color: rgb(251, 251, 251);
    border-radius: 10px;
    font-weight: 400;
}
nav {
    background-color: azure;
    padding: 20px;
    color: blue;
}


